@mixin animated-radio($width: 41, $labelwidth: 100, $activecolor: #248cf4) {
  input {
    display: none;
  }
  label.option {
    padding: 13px;
    display: inline-block;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: $width + px;
    height: 14px;
    margin: 0;
    &:before {
      content: "";
      width: $width + 35 + px;
      height: 40px;
      display: block;
      position:absolute;
      border-radius: 10px;
      background: transparent;
      z-index: 4;
    }
    &:after {
      content: "";
      width: $width + 35 + px;
      height: 40px;
      display: block;
      position: absolute;
      border-radius: 10px;
      @include background(linear-gradient(rgba(244, 244, 244, 1) rgba(228, 228, 228, 1)));
      @include transition(all, 1s);
      top: 0;
      z-index: 10;
    }
  }
  .form-item:first-child {
    label.option {
      border-top-left-radius:10px;
      border-bottom-left-radius: 10px;
      background: white;
      color: black;
      &:before{
        right:0;
      }
      &:after {
        left:0;
      }
    }
    input:checked + label.option {
      &:after {
        left: $width + 19 + px;
        z-index: 5;
      }
    }
  }
  .form-item:nth-child(2) {
    label.option {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background: $activecolor;
      color: white;
      margin-left: -4px; // there's an overlap effect that will be controlled by z-index of checked boxes. This cannot be position relative because we need pseudoelements that align to a more parental dom element
      &:before {
        left: 0px;
      }
      &:after {
        left: $width + 19 + px;
      }
    }
    input:checked + label.option {
      &:after {
        left: 0;
        z-index: 5;
      }
    }
  }
  &.form-type-radios {
    .form-radios {
      display: inline-block;
      margin-left: 20px;
      border: 1px solid rgba(226, 226, 226, 1);
      border-radius: 13px;
      position: relative;
      height: 40px;
    }
    > label {
      font-size: 14px;
      display: inline-block;
      font-family: 'Open Sans';
      font-weight: bold;
      vertical-align: top;
      text-align: left;
      line-height: 40px;
      text-indent: 13px;
      width: $labelwidth + px;
      color: black;
    }
  }
  .form-type-radio {
    display: inline-block;
  }
}